
{{ if (.zsh.omz.active) }}
export ZSH="{{.chezmoi.homedir}}/.oh-my-zsh"
plugins=(
{{ if (.zsh.omz.plugins.autosuggest )}}
zsh-autosuggest
{{end}}
{{ if (.zsh.omz.plugins.syntaxhighlighting )}}
zsh-syntax-highlighting
{{end}}
)
source $ZSH/oh-my-zsh.sh
{{ end }}


{{ if (eq .zsh.prompt "p10k") }}
source ~/powerlevel10k/powerlevel10k.zsh-theme
{{ else if (eq .zsh.prompt "starship" ) }}
eval "$(starship init zsh)"
{{ end }}

