#!/bin/bash

# Rerun script when this changes: {{ .terminals.iterm  }}

echo  {{ .terminals.iterm }}

# remove all iTerm files, folders, preferences and defaults

# if main, brew install iterm2

# if beta, brew install iterm2-beta

# if nightly, brew install iterm2-nightly